@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --board-white: #f0d9b5;
    --board-black: #b58863;
    --board-darker-black: #5d4037;
    --board-selected: #f6eb61;
}

.btn-board {
    @apply bg-board-black text-white hover:bg-board-darker-black transition-colors duration-300;
}

/* Custom Board Styles */
#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 480px;
    height: 480px;
    margin: 0 auto;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    font-family: "Apple Symbols", "Segoe UI Symbol", "DejaVu Sans", Symbola, sans-serif;
    font-variant-emoji: text;
}

.square[data-color="white"] {
    color: #ffffff !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.square[data-color="black"] {
    color: #000000 !important;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.white-square {
    @apply bg-board-white;
}

.black-square {
    @apply bg-board-black;
}

.selected {
    background-color: var(--board-selected) !important;
}

.valid-move {
    background-color: #a9ff8c !important;
    position: relative;
}

.valid-move::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}